.breadcrumbs {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1.5rem;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: .2rem;
    text-transform: uppercase;
    margin-bottom: 8rem;
    min-width: 0
}

@media only screen and (max-width: 640px) {
    .breadcrumbs {
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: .2rem;
        text-transform: uppercase;
        margin-bottom: 4rem;
        gap: 1rem
    }
}

.breadcrumbs a {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: #00000080;
    white-space: nowrap
}

@media only screen and (max-width: 640px) {
    .breadcrumbs a {
        gap: 1rem
    }
}

.breadcrumbs a:after {
    content: "";
    flex-shrink: 0;
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    background-color: #0000004d
}

@media only screen and (max-width: 640px) {
    .breadcrumbs a:after {
        width: .4rem;
        height: .4rem
    }
}

.breadcrumbs a:link, .breadcrumbs a:visited {
    color: #00000080
}

.breadcrumbs a.active {
    color: #000;
    cursor: default;
    pointer-events: none
}

.breadcrumbs a.active:after {
    display: none
}

@media (hover: hover) and (pointer: fine) {
    .breadcrumbs a:not(.active):hover {
        color: #000
    }
}